body {
    font-family: Tahoma, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    font-weight: bold;
}

#game{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    

}

#imagen {
    flex-basis: 50%;
    margin: 0;
    padding: 0;
}

#imagen img{
    width: 100%;
    height: auto;
    
}

#input{
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

#input p{
    flex-basis: 100%;
    color: #FFFFFF
    
}


#input input{
    margin-left: 2vw;
    text-align: center;

}
#input button{
    margin-left: 5vw;
}

#datos{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;


}

#datos-decimos{
    flex-basis: 50%;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#datos-decimos p {
    margin:1vw;
    flex-basis: 100%;
    color: #FFFFFF;
}

#total{
    flex-basis: 50%;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    

}

#total p{
    margin:1vw;
    color: #FFFFFF;

    
}

button{
    border: none; 
    color: #FFFFFF; 
    background-color: #04AA6D;    
    font-weight: bold;
    padding: 1vw 2vh; 
    cursor: pointer; 
    border-radius: 5vw; 
}

button:hover{
    background-color: #46a049;
}





